body {
  background-color: #3B3A3A;
font-family: calibri;
  color: white;
  font-size: 30px;
}

.header{
  padding: 60px;
  text-align: center;
  background: #3B3A3A;
  color: white;
  font-size: 30px;
}
